<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GUDLFT points</title>
</head>
<body>
  <h1>Here you can see the points that every club currently has.</h1>
  <p><a href="{{url_for('index')}}">Go back to index</a></p>
  <table>
    <thead>
      <tr>
        <td>
          Club name
        </td>
        <td>
          Club points
        </td>
      </tr>
    </thead>
    {% for club in clubs %}
      <tr>
        <td>
          {{ club["name"] }}
        </td>
        <td>
          {{ club["points"] }}
        </td>
      </tr>
    {% endfor %}
  </table>
</body>
</html>